.styled-text {
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 4px;
    display: flex;
    justify-content: center;
  }

  .left-sidebar,
  .app-header {
    background: linear-gradient(135deg, #ffffff, #FFD9E2, #FFB6C1, #E76F8C, #BD3381, #000000);
  }